In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv ('Data/Seasons_Stats.csv')
pdata_df = pd.read_csv ('Data/player_data.csv', dtype = {'height': 'object'})

In [ ]:
df.head()

In [ ]:
pdata_df

In [ ]:
pdata_df["year_born"] = pdata_df["birth_date"].map(lambda x:x[-4:] if x==x else x)
pdata_df.head()

In [ ]:
pdata_df["Player"] = pdata_df["name"]

In [ ]:
pdata_df = pdata_df[pdata_df['year_end'] > 2002]

In [ ]:
df = df[df["Year"] > 2002]

In [ ]:
df

In [ ]:
pdata_df

In [ ]:
new_df = pd.merge(df,pdata_df,on='Player')
new_df.head()

In [ ]:
pdata_df[pdata_df.duplicated(subset="Player",keep=False)]

In [ ]:
new_df.to_csv('Data/check_data.csv', index=False)

In [6]:
# Renamed check_data.csv to edited_data after taking out the duplicat names
# You can start the notebook from here if you do not want to take out the duplicates yourself
edited_df = pd.read_excel('Data/edited_data.xlsx')
edited_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,PTS,name,year_start,year_end,position,height,weight,birth_date,college,year_born
0,16006,2003,Tariq Abdul-Wahad,SG,28,DAL,14,0,204,12.4,...,57,Tariq Abdul-Wahad,1998,2003,F,6-6,223,1974-11-03,San Jose State University,1974
1,16007,2003,Shareef Abdur-Rahim,PF,26,ATL,81,81,3087,19.9,...,1608,Shareef Abdur-Rahim,1997,2008,F,6-9,225,1976-12-11,University of California,1976
2,16490,2004,Shareef Abdur-Rahim,PF,27,TOT,85,56,2684,19.9,...,1384,Shareef Abdur-Rahim,1997,2008,F,6-9,225,1976-12-11,University of California,1976
3,16491,2004,Shareef Abdur-Rahim,PF,27,ATL,53,53,1956,21.2,...,1065,Shareef Abdur-Rahim,1997,2008,F,6-9,225,1976-12-11,University of California,1976
4,16492,2004,Shareef Abdur-Rahim,PF,27,POR,32,3,728,16.5,...,319,Shareef Abdur-Rahim,1997,2008,F,6-9,225,1976-12-11,University of California,1976

In [7]:
a_df = edited_df.drop(columns = ['GS', 'Pos', 'position', 'year_end', 'college', 'Unnamed: 0', 'birth_date', 'name',])
a_df.head()

,Year,Player,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,AST,STL,BLK,TOV,PF,PTS,year_start,height,weight,year_born
0,2003,Tariq Abdul-Wahad,28,DAL,14,204,12.4,0.470,0.017,0.103,...,21,6,3,7,26,57,1998,6-6,223,1974
1,2003,Shareef Abdur-Rahim,26,ATL,81,3087,19.9,0.566,0.051,0.457,...,242,87,38,212,240,1608,1997,6-9,225,1976
2,2004,Shareef Abdur-Rahim,27,TOT,85,2684,19.9,0.557,0.032,0.407,...,174,68,37,184,222,1384,1997,6-9,225,1976
3,2004,Shareef Abdur-Rahim,27,ATL,53,1956,21.2,0.568,0.029,0.423,...,127,44,19,131,147,1065,1997,6-9,225,1976
4,2004,Shareef Abdur-Rahim,27,POR,32,728,16.5,0.522,0.042,0.360,...,47,24,18,53,75,319,1997,6-9,225,1976

In [8]:
len(a_df)

8548

In [9]:
b_df = pd.DataFrame(columns = a_df.columns)
b_df.head()

Empty DataFrame
Columns: [Year, Player, Age, Tm, G, MP, PER, TS%, 3PAr, FTr, ORB%, DRB%, TRB%, AST%, STL%, BLK%, TOV%, USG%, blanl, OWS, DWS, WS, WS/48, blank2, OBPM, DBPM, BPM, VORP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, year_start, height, weight, year_born]
Index: []

[0 rows x 54 columns]

In [10]:
for index, row in a_df.iterrows():
    subset = a_df[(a_df["Year"]==row["Year"]) & (a_df["Player"]==row["Player"]) & (a_df["year_born"]==row["year_born"])]
    if len(subset) == 1:
        b_df = b_df.append(subset)
    elif subset[subset["Tm"]=="TOT"].index[0] not in b_df.index:
        b_df = b_df.append(subset[subset["Tm"]=="TOT"])

In [11]:
b_df

,Year,Player,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,AST,STL,BLK,TOV,PF,PTS,year_start,height,weight,year_born
0,2003,Tariq Abdul-Wahad,28,DAL,14,204,12.4,0.470,0.017,0.103,...,21,6,3,7,26,57,1998,6-6,223,1974
1,2003,Shareef Abdur-Rahim,26,ATL,81,3087,19.9,0.566,0.051,0.457,...,242,87,38,212,240,1608,1997,6-9,225,1976
2,2004,Shareef Abdur-Rahim,27,TOT,85,2684,19.9,0.557,0.032,0.407,...,174,68,37,184,222,1384,1997,6-9,225,1976
5,2005,Shareef Abdur-Rahim,28,POR,54,1867,18.7,0.581,0.058,0.379,...,111,49,26,117,150,909,1997,6-9,225,1976
6,2006,Shareef Abdur-Rahim,29,SAC,72,1961,17.2,0.588,0.035,0.440,...,149,48,42,108,227,887,1997,6-9,225,1976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8541,2017,Troy Williams,22,TOT,30,557,8.9,0.511,0.371,0.192,...,25,27,10,33,60,185,2017,6-7,218,1994
8544,2017,Kyle Wiltjer,24,HOU,14,44,6.7,0.437,0.929,0.143,...,2,3,1,5,4,13,2017,6-10,240,1992
8545,2017,Stephen Zimmerman,20,ORL,19,108,7.3,0.346,0.000,0.161,...,4,2,5,3,17,23,2017,7-0,240,1996
8546,2017,Paul Zipser,22,CHI,44,843,6.9,0.503,0.448,0.181,...,36,15,16,40,78,240,2017,6-8,215,1994
8547,2017,Ivica Zubac,19,LAL,38,609,17.0,0.547,0.013,0.206,...,30,14,33,30,66,284,2017,7-1,265,1997

In [9]:
b_df["Status"] = (b_df["Year"] - b_df["year_start"] +1)
b_df

,Year,Player,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,STL,BLK,TOV,PF,PTS,year_start,height,weight,year_born,Status
0,2003,Tariq Abdul-Wahad,28,DAL,14,204,12.4,0.470,0.017,0.103,...,6,3,7,26,57,1998,6-6,223,1974,6
1,2003,Shareef Abdur-Rahim,26,ATL,81,3087,19.9,0.566,0.051,0.457,...,87,38,212,240,1608,1997,6-9,225,1976,7
2,2004,Shareef Abdur-Rahim,27,TOT,85,2684,19.9,0.557,0.032,0.407,...,68,37,184,222,1384,1997,6-9,225,1976,8
5,2005,Shareef Abdur-Rahim,28,POR,54,1867,18.7,0.581,0.058,0.379,...,49,26,117,150,909,1997,6-9,225,1976,9
6,2006,Shareef Abdur-Rahim,29,SAC,72,1961,17.2,0.588,0.035,0.440,...,48,42,108,227,887,1997,6-9,225,1976,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8541,2017,Troy Williams,22,TOT,30,557,8.9,0.511,0.371,0.192,...,27,10,33,60,185,2017,6-7,218,1994,1
8544,2017,Kyle Wiltjer,24,HOU,14,44,6.7,0.437,0.929,0.143,...,3,1,5,4,13,2017,6-10,240,1992,1
8545,2017,Stephen Zimmerman,20,ORL,19,108,7.3,0.346,0.000,0.161,...,2,5,3,17,23,2017,7-0,240,1996,1
8546,2017,Paul Zipser,22,CHI,44,843,6.9,0.503,0.448,0.181,...,15,16,40,78,240,2017,6-8,215,1994,1
8547,2017,Ivica Zubac,19,LAL,38,609,17.0,0.547,0.013,0.206,...,14,33,30,66,284,2017,7-1,265,1997,1

In [10]:
# Seperate feet and inches and convert all measurments to inches
b_df['feet'] = b_df.height.str.split('-').str[0].astype(np.float) * 12
b_df['inch'] = b_df.height.str.split('-').str[1].astype(np.float)

# Combine measurements in new column "height(inch)"
b_df["height(inch)"] = b_df.feet+b_df.inch

In [11]:
b_df = b_df.drop(columns = ['Tm', 'height', 'feet', 'inch', 'blanl', 'blank2','FG%','3P%', '2P%', 'FT%'], axis=1)
b_df.head()

,Year,Player,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,...,STL,BLK,TOV,PF,PTS,year_start,weight,year_born,Status,height(inch)
0,2003,Tariq Abdul-Wahad,28,14,204,12.4,0.470,0.017,0.103,7.6,...,6,3,7,26,57,1998,223,1974,6,78.0
1,2003,Shareef Abdur-Rahim,26,81,3087,19.9,0.566,0.051,0.457,6.7,...,87,38,212,240,1608,1997,225,1976,7,81.0
2,2004,Shareef Abdur-Rahim,27,85,2684,19.9,0.557,0.032,0.407,8.2,...,68,37,184,222,1384,1997,225,1976,8,81.0
5,2005,Shareef Abdur-Rahim,28,54,1867,18.7,0.581,0.058,0.379,7.9,...,49,26,117,150,909,1997,225,1976,9,81.0
6,2006,Shareef Abdur-Rahim,29,72,1961,17.2,0.588,0.035,0.440,6.4,...,48,42,108,227,887,1997,225,1976,10,81.0

In [12]:
b_df = b_df[b_df["G"] > 10]
b_df

,Year,Player,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,...,STL,BLK,TOV,PF,PTS,year_start,weight,year_born,Status,height(inch)
0,2003,Tariq Abdul-Wahad,28,14,204,12.4,0.470,0.017,0.103,7.6,...,6,3,7,26,57,1998,223,1974,6,78.0
1,2003,Shareef Abdur-Rahim,26,81,3087,19.9,0.566,0.051,0.457,6.7,...,87,38,212,240,1608,1997,225,1976,7,81.0
2,2004,Shareef Abdur-Rahim,27,85,2684,19.9,0.557,0.032,0.407,8.2,...,68,37,184,222,1384,1997,225,1976,8,81.0
5,2005,Shareef Abdur-Rahim,28,54,1867,18.7,0.581,0.058,0.379,7.9,...,49,26,117,150,909,1997,225,1976,9,81.0
6,2006,Shareef Abdur-Rahim,29,72,1961,17.2,0.588,0.035,0.440,6.4,...,48,42,108,227,887,1997,225,1976,10,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8541,2017,Troy Williams,22,30,557,8.9,0.511,0.371,0.192,3.0,...,27,10,33,60,185,2017,218,1994,1,79.0
8544,2017,Kyle Wiltjer,24,14,44,6.7,0.437,0.929,0.143,9.9,...,3,1,5,4,13,2017,240,1992,1,82.0
8545,2017,Stephen Zimmerman,20,19,108,7.3,0.346,0.000,0.161,10.8,...,2,5,3,17,23,2017,240,1996,1,84.0
8546,2017,Paul Zipser,22,44,843,6.9,0.503,0.448,0.181,1.9,...,15,16,40,78,240,2017,215,1994,1,80.0
8547,2017,Ivica Zubac,19,38,609,17.0,0.547,0.013,0.206,7.1,...,14,33,30,66,284,2017,265,1997,1,85.0

In [13]:
b_df.columns

Index(['Year', 'Player', 'Age', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS',
       'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', '3P', '3PA',
       '2P', '2PA', 'eFG%', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'year_start', 'weight', 'year_born',
       'Status', 'height(inch)'],
      dtype='object')

In [14]:
b_df.to_csv('Final/finalized_data.csv', index=False)